RewriteEngine On
RewriteCond %{HTTP_HOST} ^fuzzyplan\.madshorn\.dk$
RewriteCond %{REQUEST_URI} !^/fuzzyplan\.madshorn\.dk
RewriteRule ^(.*)$ fuzzyplan.madshorn.dk/$1 [L]

ErrorDocument 404 /error/404.html
