main {
  display: grid;
  grid-template-columns: 2em auto 2em;
  grid-template-rows: 2em;
  height: min-content;
  row-gap: 1em;
}

.headContainer {
  display: flex;
  flex-wrap: wrap;
}
.content {
  grid-column-start: 2;
}
