main {
  display: grid;
  grid-template-columns: 25% auto 25%;
  grid-template-rows: 2em;
  height: min-content;
  row-gap: 1em;
}

@media (max-width: 650px) {
  main {
    grid-template-columns: 2em auto 2em;
  }
}

.headContainer {
  display: flex;
  flex-wrap: wrap;
}
.content {
  grid-column-start: 2;
}
