main {
  display: grid;
  grid-template-columns: 1em auto 1em;
  grid-template-rows: 2em;
  height: min-content;
  row-gap: 1em;
  width: 60%;
}

kbd {
  font-weight: bold;
  background-color: #D7D7D7;
  padding: 2px 4px;
}

@media (max-width: 650px) {
  main {
    grid-template-columns: 2em auto 2em;
    width: 100%;
  }
}

.headContainer {
  display: flex;
  flex-wrap: wrap;
}
.content {
  grid-column-start: 2;
}
