* {
    box-sizing: border-box;  /* Include margin, padding and border in box sizes */
}

body {
  max-width: 400px;
  min-width: 340px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  height: 740px;
}

html {
  background-color: black;
}

h1 {
  margin: 0px;
  grid-area: header1;
}

h2 {
  margin: 0px;
  grid-area: header2;
}

input {
  width: 18px;
  padding-left: 8px;
  border-radius: 10px;
}

button {
  text-align: center;
  /* width: 10%; */
  height: 22px;
  font-size: 0.6em;
  background-image: linear-gradient(#9898ff, #9adbf0, #9adbf0, #9adbf0, #9898ff);
  border: 1px solid rgb(96, 139, 168);
  border-radius: 10px;
}

::placeholder {
  color: #788793; /* Lighter gray*/
  color: rgb(150, 150, 150);
}

.container1 {
  display: grid;
  grid-template-columns: 5% auto 5%;
  grid-template-rows: auto auto auto;
  grid-template-areas:
  '. header1 .'
  '. header2 .'
  '. messages .';
  margin-top: -10px;
}

.buttons {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 50px;
}

.timeButtons {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  /* display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 50px; */
}

.container {
  display: grid;
  grid-template-columns: 50% 45% 5%;
  grid-gap: .6rem;
  background-color: transparent;
  border: none;
  grid-template-areas:
  'input table .'
}

.container2 {
  display: grid;
  grid-template-columns: 51% 51%;
  /* column-gap: .2rem; */
  background-color: transparent;
  border: none;
  grid-template-areas:
  'input table'
}

.topic {
  padding: 7px;
  margin-bottom: -15px;
  border-radius: 10px;
  background-color: rgba(154, 219, 240, .25);
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.timeAdjusterTop {
  width: 30px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background-image: none; /* linear-gradient(#9898ff, #9adbf0, #9adbf0, #9adbf0, #9adbf0); */
  background-color: rgba(0, 0, 0, 0);
  position: relative;
  z-index: 10;
  top: 3px;
  border-bottom: none;
}

.timeAdjusterMiddle {
  width: 30px;
  height: 45px;
  border-radius: 10px;
  background-image: linear-gradient(#9898ff, #9adbf0, #9adbf0, #9adbf0, #9898ff);
  background-color: rgba(0, 0, 0, 0);
  position: relative;
  top: -20px;
  z-index: 5;
  border: none;
}

.timeAdjusterBottom {
  width: 30px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  background-image: none; /* linear-gradient(#9adbf0, #9adbf0, #9adbf0, #9abdf0, #9898ff); */
  background-color: rgba(0, 0, 0, 0);
  position: relative;
  z-index: 10;
  top: -43px;
  border-top: none;
}

.text {
  font-weight: bold;
  margin-bottom: 4px;
}

.backgroundUp {
  width: 30px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background-image: linear-gradient(#9898ff, #9adbf0, #9adbf0, #9adbf0, #9adbf0);
  position: relative;
  top: 0px;
  z-index: 1;
  border-bottom: none;
}

.backgroundDown {
  width: 30px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  background-image: linear-gradient(#9adbf0, #9adbf0, #9adbf0, #9adbf0, #9898ff);
  position: relative;
  top: -48px;
  z-index: 1;
  border-top: none;
}

#gainDiv {
  display: inline-flex;
  justify-content: space-between;
}

#info {
  width: 22px;
  border-radius: 20px;
}

#d1, #g1 {
  margin-left: 0px;
}

#text1, #text2 {
  display: flex;
  grid-area: input;
  align-self: center;
  font-weight: bold;
}

#inputTimeBox {
  grid-area: input;
  width: 54px;
  height: 20px;
}

#table {
  grid-area: table;
  border-collapse: collapse;
}

#inputTaskBox {
  width: auto;
}

#inputDurationBox {
  width: 60px;
  /* height: 15px; */
}

#optional {
  font-size: 0.6em;
}

#apply {
  width: 250px;
}

#cancel {
  width: 15%;
}

#apply, #cancel {
  font-size: 0.6em;
  margin-top: 5px;
}

#message {
  text-align: center;
  grid-area: messages;
  /* height: 40px; */
  /* margin-top: 20px; */
}

[type=radio] {
  position: absolute;
  opacity: 0%;
  width: 0px;
  height: 0px;
}

[type=radio] + img {
  opacity: 25%;
}

[type=radio]:checked + img {
  opacity: 100%;
  /* background-color: blue; */
}
