* {
  box-sizing: border-box;  /* Include margin, padding and border in box sizes */
}

body {
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  /* background-color: white; */
}

div {
  /* flex: initial; */
  text-align: left;
  /* border: 1px solid rgb(96, 139, 168); */
  border-radius: 10px;
  background-color: rgba(154, 219, 240, .35);
}

p {
  font-size: 10px;
}

h1 {
  margin: unset;
}

input {
  width: auto;
  padding-left: 8px;
  border-radius: 10px;
}

button {
  border-radius: 10px;
  background-color: rgba(154, 219, 240, .35);
}

button:hover,
button:focus {
  /* transform: scaleY(1.2); */
  transform: rotateX(10deg);
  border: 1px solid rgb(255, 50, 255);
}

.dateButton .toolTip {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -100px;
  border-radius: 10px;
  padding: 5px;
}

.dateButton .toolTip::after {
  content: '';
  position: absolute;
  top: 99%;
  left: 50%;
  margin-left: -5px;
  border: solid;
  border-width: 7px;
  border-color: rgba(154, 219, 240, 1) transparent transparent transparent;
}

.dateButton:hover .toolTip {
  visibility: visible;
  background-color: rgba(154, 219, 240, 1);
}

.toolTip:empty {
   display: none;
}

.task {
  text-align: left;
  border: 1px solid rgb(96, 139, 168);
  border-radius:  10px;
  background-color: rgba(154, 219, 240, .6);
  grid-area: taskListing;
}

@media only screen and (min-width: 450px) {
  html {
    background-color: black;
  }

  /* Why doesn't this work? */
  .container2 {
    height: 430px;
  }
}

.container1 {
  display: grid;
  grid-template-columns: 40px auto 45px;
  grid-template-rows: auto auto auto;
  grid-gap: .3rem;
  background-color: transparent;
  border: none;
  overflow-y: scroll;
  grid-template-areas:
  'month header day'
  '. messages .';
}

.floatingTask {
  display: flex;
  flex-flow: column wrap;
  background-color: rgba(123, 217, 71, .6);
  border-radius: 10px;
}

/* .floatingTask.clicked {
  border: 2px solid rgb(255, 50, 255);
} */

.centerWrapper {
  display: grid;
  grid-template-columns: 6px 40px auto 40px 6px;
  grid-template-rows: auto auto;
  grid-gap: .6rem;
  background-color: transparent;
  border: none;
  overflow-y: scroll;
  grid-template-areas:
  '. clear inputbox moveToDay .'
  '. putback chooseBox . .'
}

#day {
  grid-area: day;
}

#moveToDay {
  display: none;
  grid-area: moveToDay;
}

#moveToDay.active {
  line-height: 0.8em;
  padding-top: 5px;
  display: grid;
}

#chooseBox {
  display: none;
  grid-area: chooseBox;
}

#chooseBox.active {
  display: grid;
}
#monthChooseBox {
  display: none;
  grid-area: chooseBox;
}

#monthChooseBox.active {
  display: grid;
}

#putBack {
  display: none;
	line-height: 0.8em;
	padding-top: 2px;
  grid-area: putback;
}

#putBack.active {
  display: grid;
}

.container2 {
  display: grid;
  grid-template-columns: 5% 80% 5%;
  grid-template-rows: auto auto;
  grid-gap: .3rem;
  /* justify-items: center; */
  background-color: transparent;
  border: none;
  height: 480px;
  overflow-y: scroll;
  grid-template-areas:
  '. taskHeader .'
  '. taskListing .'
}


.controlButton {
  /* display: inline-block; */
  text-align: center;
  width: auto;
  height: 22px;
  border: 1px solid rgb(96, 139, 168);
  border-radius: 10px;
  background-image: linear-gradient(#9898ff, #9adbf0, #9adbf0, #9adbf0, #9898ff);
  font-size: 10px;
  padding-left: 3px;
}


.dateButton {
  position: relative;
  text-align: left;
  border: 1px solid rgba(154, 219, 240, 1.0);
  border-radius:  10px;
  background-color: rgba(154, 219, 240, .25);
  box-shadow: 0px 0px 3px 2px rgba(154, 219, 240, .25);
}

.weekend {
  background-color: rgba(154, 219, 240, .6);
}

.monthName {
  background-color: white;
  border: none;
  margin: 5px;
}

#dateDiv {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  /* background-color: red; */
  border: none;
  width: 100%;
  height: 1440px;
  align-items: center;
  grid-area: dateListing;
}

#taskDiv {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border: none;
  height: 1440px;
  width: 100%;
  grid-area: taskListing;
}

#clearButton {
  grid-area: clear;
}

#inputBox {
  grid-area: inputbox;
}

#storage {
  grid-area: storage;
}

#name {
  justify-content: center;
  grid-area: header;
}

#month {
  grid-area: month;
  justify-self: end;
}


#message {
  display: flex;
  text-align: center;
  grid-area: messages;
}

/* #zoom {
  text-align: left;
  width: auto;
  font-size: 15px;
  background-image: linear-gradient(#9898ff, #9adbf0, #9adbf0, #9adbf0, #9898ff);
} */


.isClicked {
  transform: rotateX(10deg);
  border: 1px solid rgb(255, 50, 255);
}

/* button:hover,
button:focus {
  transform: scaleY(1.2);
  transform: rotateX(10deg);
  border: 1px solid rgb(255, 50, 255);
} */
