h1 {
  grid-area: header;
}

h1, h2 {
  margin: unset
}

input {
  width: 30px;
  padding-left: 8px;
  border-radius: 10px;
}

button {
  text-align: center;
  /* width: 10%; */
  height: 22px;
  font-size: 14px;
  background-image: linear-gradient(#9898ff, #9adbf0, #9adbf0, #9adbf0, #9898ff);
  border: 1px solid rgb(96, 139, 168);
  border-radius: 5px;
}

button[id*='memory'] {
  width: 300px;
}

button:hover,
button:focus {
  /* transform: scaleY(1.2); */
  transform: rotateX(10deg);
  border: 1px solid rgb(255, 50, 255);
}

.container {
  /* width: 400px; */
  display: flex;
  align-items: center;
  /* align-content: space-between; */
  flex-direction: column;
  /* justify-content: space-between; */
}

.container1 {
  display: grid;
  grid-template-columns: 40px auto 25px 40px;
  grid-template-rows: auto auto;
  grid-gap: .3rem;
  background-color: transparent;
  border: none;
  overflow-y: scroll;
  grid-template-areas:
  '. header . day'
  '. messages . .';
}

.highLighted {
  border: 1px solid rgb(255, 50, 255);
}

.notInUse {
  background-image: linear-gradient(#c0c0f1,  #d8eaf1, #d8eaf1, #d8eaf1, #c3c3f7);
  border: none;
}

.topic {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
  background-color: rgba(154, 219, 240, .25);
  width: 90%;
}

#info {
  border-radius: 20px;
  font-size: 0.8em;
}

#day {
  grid-area: day;
}

#message {
  display: flex;
  text-align: center;
  grid-area: header;
}

#stores {
  display: flex;
  flex-direction: column;
}
