body {
/* font-size: 12pt; */
max-width: 650px;
min-width: 350px;
margin-left: auto;
margin-right: auto;
}

h1 {
  font-size: 45px;
  margin-bottom: 0px;
  text-align: center;
}

h2 {font-size: 2em;
margin-bottom: 0px;
margin-top: 0px;
font-style: normal;
}

h3 {
font-size: 1em;
margin-bottom: 0px;
margin-top: 0px;
font-style: normal;
}

li,u,p {
  font-size: 1em;
  font-style: normal;
}

q {
  font-style: italic;}

button {
  width: 100%;
  font-size: initial;
}

input {
  margin-right: 1em;
}

#controlButtonContainer {
  display: grid;
  /* grid-template-columns: auto auto auto; */
  grid-template-columns: 33% 33% 33%;
}

.controlButton {
  background-color: rgb(195,235,244);
  border-radius: 5px;
  padding: 7px;
  width: auto;
}

#about {
  display: none;
  width: max-content;
  justify-self: start;
}

#textSize {
  height: 36px;
  padding: 0px 6px 2px 6px;
  justify-self: center;
}

#textSizePNG {
  height: 100%;
  object-fit: cover;
}

#foldOutFoldIn {
  width: max-content;
  justify-self: end;
}

.kategori
{
  background-color: rgb(126,230,255);
  border-radius: 5px;
  padding: 7px;
}

.recipe, .insertedRecipe {
  background-color: rgb(205,248,255);
  border-radius: 5px;
  padding: 7px;}

.ingredienser {
  background-color: rgb(223,244,244);
  border-radius: 5px;
  padding-left: 7px;
  padding-right: 7px;
  border-bottom: 15px solid white; /* hack... */
}

.insertedIngredienser {
  display: none;
  background-color: rgb(223,244,244);
  border-radius: 5px;
  padding-left: 7px;
  padding-right: 7px;
  border-bottom: 15px solid white; /* hack... */
}

.description {
  font-size: 0.8em;
}

.howto {
  background-color: rgb(237,255,255);
  border-radius: 5px;
  padding: 7px;
  margin-bottom: 34px;
}

.insertedHowto {
  display: none;
  background-color: rgb(237,255,255);
  border-radius: 5px;
  padding: 7px;
  margin-bottom: 34px;
}

.antal {
  text-align: center;
  margin-top: 2px;
}

.slut {
  background-color: rgb(195,235,244);
  border-radius: 5px;
  padding: 7px;
  width: auto;
  float: right
}

.onionAlert {
  border: 2px dashed darkgray;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
}


#printInstructions {
  display: none;
}

.printInstructions {
  font-size: 2em;
}
